@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Clearline NHIS Portal</h1>
    <p>Learn about us <a href="https://clearlinehmo.net/">Clearline Website</a>.</p>
    <em style="color:crimson">...the health insurance people</em>
    @*<p>Learn about us <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
